@page "/permission/users"
@attribute [Authorize(Policy = IdentityContract.ThemisAPIReadPolicyName)]
@inherits AphroditePageBase
@inject ILogger<UsersPage> logger
@inject IPopupService popupService
@inject ThemisUserClient themisUserClient

<PageTitle>Users</PageTitle>

<MCard Elevation=0 Rounded="@("xl")">
    <MCardText Class="pa-6">
        <PPageHeader Title="Users" Subtitle=@($"{this.Users.Count()} users in total.") OnSearch=this.LoadUsers ShowFiltersByDefault>
            <LeftActions>
                <MButton Rounded Color="primary" OnClick="this.OnShowCreateUserModal"><MIcon Left>mdi-plus</MIcon>Create</MButton>
                <PModal @bind-Value=@this.ShowCreateUserModal
                        Title="Create User" Persistent MaxWidth="600"
                        OnSave="this.OnCreateUserModal">
                    <ChildContent>
                        <CreateUserComponent UserRegisterRequest=@this.UserRegisterRequest />
                    </ChildContent>
                </PModal>
            </LeftActions>
            <Filters>
                <MRow>
                    <MCol Sm=12 Md=3>
                        <MTextField Label="Id" @bind-Value="@this.Id" Type="number" TValue="int?"
                                    Color="primary" HideDetails="@("auto")" BackgroundColor="grey lighten-4"
                                        Clearable Filled Rounded Dense>
                        </MTextField>
                    </MCol>
                    <MCol Sm=12 Md=3>
                        <MTextField Label="Name" @bind-Value="@this.UserName"
                                    Color="primary" HideDetails="@("auto")"
                                        Clearable Filled Rounded Dense>
                        </MTextField>
                    </MCol>
                    <MCol Sm=12 Md=3>
                        <MTextField Label="Email" @bind-Value="@this.Email"
                                    Color="primary" HideDetails="@("auto")"
                                        Clearable Filled Rounded Dense>
                        </MTextField>
                    </MCol>
                    <MCol Sm=12 Md=3>
                        <MTextField Label="Phone" @bind-Value="@this.PhoneNumber"
                                    Color="primary" HideDetails="@("auto")"
                                        Clearable Filled Rounded Dense>
                        </MTextField>
                    </MCol>
                </MRow>
            </Filters>
        </PPageHeader>
    </MCardText>
</MCard>

<MCard Elevation=0 Rounded="@("xl")" Class="mt-6">
    <MCardText>
        <MRow>
            <MSpacer></MSpacer>
            <MCol Cols="@("auto")">
                <MTextField Style="width:280px;" Color="primary" BackgroundColor="grey lighten-4" HideDetails="@("auto")"
                            @bind-Value="@this.LocalSearchKeyword" Placeholder="Search" Clearable Rounded Flat Dense Solo>
                    <PrependInnerContent>
                        <MIcon Size=16 Class="neutral-lighten-1--text">mdi-magnify</MIcon>
                    </PrependInnerContent>
                </MTextField>
            </MCol>
        </MRow>
        <MDataTable Headers="@this.userHeader" Search="@this.LocalSearchKeyword" Class="my-3"
                    Items="@this.Users" Page=@this.CurrentPageIndex
                    TItem="UserInformationResponse" ItemsPerPage=@this.CurrentPageSize
                    Loading=@this.LoadingUsers LoadingText="Loading ..."
                    MultiSort FixedHeader HideDefaultFooter>
            <ItemColContent>
                @switch (context.Header.Value)
                {
                    case nameof(UserInformationResponse.Enabled):
                        <MChip Color="@(context.Item.Enabled?"blue":"orange")" TextColor="white" Ripple="false" OnClick="()=>this.OnToggleUserEnable(context.Item)">
                            <span>@(context.Item.Enabled.ToStatus())</span>
                        </MChip>
                        break;
                    case "Actions":
                        <MButtonGroup Dense Borderless Rounded>
                        <MButton Depressed Small Color="primary">Edit</MButton>
                            <MButton Depressed Small Color="red" OnClick="()=>this.OnDeleteUser(context.Item)">Delete</MButton>
                        </MButtonGroup>
                        break;
                    default:
                        @context.Value
                        break;
                }
            </ItemColContent>
        </MDataTable>
        <MRow>
            <MCol>
                <MSelect @bind-Value=@this.CurrentPageSize Items=@this.ValidPageSizes
                         ItemText=@(size => size.ToString()) ItemValue=@(size=>size)
                         Color="primary" Style="max-width:120px;"
                         Filled Rounded Dense HideDetails="@("auto")">
                </MSelect>
            </MCol>
            <MSpacer></MSpacer>
            <MCol>
                <MPagination @bind-Value=@this.CurrentPageIndex Color="primary" Circle Length=@this.TotalPageCount></MPagination>
            </MCol>
        </MRow>
    </MCardText>
</MCard>

@code {
    protected bool LoadingUsers { get; set; }
    protected bool ShowCreateUserModal { get; set; }
    protected IList<RoleInformationResponse>? Roles { get; set; }
    protected int? Id { get; set; }
    protected string? Role { get; set; }
    protected string? UserName { get; set; }
    protected string? Email { get; set; }
    protected string? PhoneNumber { get; set; }
    protected string? LocalSearchKeyword { get; set; }
    protected List<int> ValidPageSizes = new List<int>() { 10, 20, 50, 100, 200 };
    protected int CurrentPageSize { get; set; } = 20;
    protected int CurrentPageIndex { get; set; } = 1;
    protected int TotalPageCount => (int)Math.Ceiling(this.Users.Count() / (double)CurrentPageSize);
    protected List<UserInformationResponse> Users { get; set; } = new List<UserInformationResponse>();
    protected UserRegisterRequest UserRegisterRequest { get; set; }
    protected readonly List<DataTableHeader<UserInformationResponse>> userHeader = new()
    {
        new() { Value = nameof(UserInformationResponse.Id), Text=nameof(UserInformationResponse.Id), Filterable = true, Sortable = true },
        new() { Value = nameof(UserInformationResponse.UserName), Text=nameof(UserInformationResponse.UserName), Filterable = true, Sortable = true },
        new() { Value = nameof(UserInformationResponse.Email), Text=nameof(UserInformationResponse.Email), Filterable = true, Sortable = true },
        new() { Value = nameof(UserInformationResponse.PhoneNumber), Text=nameof(UserInformationResponse.PhoneNumber), Filterable = true, Sortable = true },
        new() { Value = nameof(UserInformationResponse.Enabled), Text=nameof(UserInformationResponse.Enabled), Filterable = true, Sortable = true },
        new() { Value = "Actions", Text="Actions", Filterable = false, Sortable = false},
    };

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        await this.LoadUsers();
    }

    protected async Task LoadUsers()
    {
        try
        {
            this.LoadingUsers = true;
            var userSearch = new UserSearchRequest()
                {
                    Id = this.Id,
                    UserName = this.UserName,
                    Email = this.Email,
                    PhoneNumber = this.PhoneNumber,
                };
            var userResult = await this.themisUserClient.SearchUsersAsync(userSearch);
            this.Users.Clear();
            this.Users.AddRange(userResult?.Values ?? Enumerable.Empty<UserInformationResponse>());
            await this.popupService.EnqueueSnackbarAsync($"Loaded {this.Users.Count()} users in total.", AlertTypes.Success);
        }
        catch (Exception ex)
        {
            await this.popupService.EnqueueSnackbarAsync(ex);
        }
        finally
        {
            this.LoadingUsers = false;
        }
    }

    protected async Task OnToggleUserEnable(UserInformationResponse user)
    {
        try
        {
            var newStatus = !user.Enabled;
            await this.themisUserClient.UpdateUserAsync(user.Id, new UserUpdateRequest() { Enabled = newStatus });
            user.Enabled = newStatus;
            await this.popupService.EnqueueSnackbarAsync($"Updated user [{user.UserName}] status to be {user.Enabled.ToStatus()}", AlertTypes.Success);
        }
        catch (Exception ex)
        {
            await this.popupService.EnqueueSnackbarAsync(ex);
        }
    }

    protected async Task OnDeleteUser(UserInformationResponse user)
    {
        try
        {
            var confirmed = await this.popupService.ConfirmAsync("Confirm", $"Are you sure to delete user: {user.UserName} ?", AlertTypes.Warning);
            if (!confirmed) return;

            var response = await this.themisUserClient.DeleteUserAsync(user.Id);
            if (response?.IsSuccessStatusCode ?? false)
            {
                this.Users.Remove(user);
                await this.popupService.EnqueueSnackbarAsync($"User {user.UserName} deleted.", AlertTypes.Success);
            }
            else
            {
                await this.popupService.EnqueueSnackbarAsync($"User {user.UserName} delete failed.", AlertTypes.Warning);
            }
        }
        catch (Exception ex)
        {
            await this.popupService.EnqueueSnackbarAsync(ex);
        }
    }

    protected async Task OnShowCreateUserModal()
    {
        this.UserRegisterRequest = new();
        this.ShowCreateUserModal = true;
    }

    protected async Task OnCreateUserModal()
    {
        if (string.IsNullOrWhiteSpace(this.UserRegisterRequest.UserName))
        {
            await this.popupService.EnqueueSnackbarAsync($"User name is not allowed to be empty.", AlertTypes.Warning);
            return;
        }
        if (string.IsNullOrWhiteSpace(this.UserRegisterRequest.Email))
        {
            await this.popupService.EnqueueSnackbarAsync($"Email is not allowed to be empty.", AlertTypes.Warning);
            return;
        }
        if (string.IsNullOrWhiteSpace(this.UserRegisterRequest.PhoneNumber))
        {
            await this.popupService.EnqueueSnackbarAsync($"Phone number is not allowed to be empty.", AlertTypes.Warning);
            return;
        }

        this.UserRegisterRequest.Password = IdentityContract.DefaultUserPassword;
        this.UserRegisterRequest.ConfirmPassword = IdentityContract.DefaultUserPassword;

        try
        {
            var user = await this.themisUserClient.RegisterUserAsync(this.UserRegisterRequest);
            if (user is null)
            {
                await this.popupService.EnqueueSnackbarAsync($"User create failed", AlertTypes.Warning);
            }
            else
            {
                this.Users.Add(user);
                this.ShowCreateUserModal = false;
                await this.popupService.EnqueueSnackbarAsync($"User {user.UserName} ({user.Id}) created.", AlertTypes.Success);
            }
        }
        catch (Exception ex)
        {
            await this.popupService.EnqueueSnackbarAsync(ex);
        }
    }
}
