@page
@model IndexModel
@{
    ViewData["Title"] = "NTML";
}

<div class="row">
    <div class="alert alert-light my-5" role="alert">
        <p><span class="display-2">Welcome</span></p>

        @if (this.Model.Authenticated)
        {
            <p>
                <span class="spinner-border text-primary text-w" role="status"></span>
                <span class="h1">You are logging in as <span class="badge bg-primary">@User.Identity?.Name</span></span>
            </p>
            <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingUserInformation">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseUserInformation" aria-expanded="false" aria-controls="collapseUserInformation">
                            User Information
                        </button>
                    </h2>
                    <div id="collapseUserInformation" class="accordion-collapse collapse" aria-labelledby="headingUserInformation" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <dl class="row">
                                <dt class="col-sm-3">@nameof(this.User.Identity.IsAuthenticated)</dt>
                                <dd class="col-sm-9">@this.User.Identity!.IsAuthenticated</dd>
                                <dt class="col-sm-3">@nameof(this.User.Identity.Name)</dt>
                                <dd class="col-sm-9">@this.User.Identity!.Name</dd>
                                <dt class="col-sm-3">@nameof(this.User.Identity.AuthenticationType)</dt>
                                <dd class="col-sm-9">@this.User.Identity!.AuthenticationType</dd>
                                <dt class="col-sm-3">Claims</dt>
                                <dd class="col-sm-9">
                                    <dl class="row">
                                        @foreach (var claim in this.User.Claims)
                                        {
                                            <dt class="col-sm-4">@(Uri.TryCreate(claim.Type, UriKind.Absolute, out var uri) ? uri.Segments.LastOrDefault() : claim.Type)</dt>
                                            <dd class="col-sm-8">@claim.Value</dd>
                                        }
                                    </dl>
                                </dd>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>
        }
        else
        {
            <p>
                <span class="h1">You are <span class="badge bg-danger">Not Authenticated</span></span>
            </p>
        }

        <p class="text-end">ReturnUrl: <em>@this.Model.ReturnUrl</em></p>
    </div>
</div>
<div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <button type="button" class="btn btn-light" onclick="navigate()">
        <i class="bi bi-arrow-bar-left"></i> Go Back
    </button>
    <button type="button" class="btn btn-secondary" onclick="refresh()">
        <i class="bi bi-arrow-clockwise"></i> Refresh
    </button>
    <button type="button" class="btn btn-primary" onclick="login()">
        <i class="bi bi-box-arrow-in-right"></i> <span><strong>Login</strong></span>
    </button>
</div>

@section Scripts {
    <script>
        function navigate() {
            window.location.href = "@this.Model.ReturnUrl";
        }

        function refresh() {
            window.location.reload();
        }

        function login() {
            alert("发送登录请求");
        }
    </script>
}
