@page "/nugetserver/packages"
@* @attribute [Authorize(Policy = IdentityContract.AstraAPIReadPolicyName)] *@
@inherits AphroditePageBase
@inject ILogger<PackagesPage> logger
@inject IPopupService popupService
@inject IOptions<NuGetServerConfiguration> nuGetServerOptions
@inject AstraNuGetPackageClient astraNuGetPackageClient

<PageTitle>Packages</PageTitle>

<MCard Flat Rounded=@("xl")>
    <MCardText Class="pa-6">
        <PPageHeader Title="Packages" Subtitle=@($"{this.SearchResponse?.TotalHits??0} packages in total.") OnSearch=this.LoadPackages ShowFiltersByDefault>
            <LeftActions>
                <AuthorizeView Policy="@IdentityContract.AstraAPIWritePolicyName">
                    <MButton Rounded Color="primary" OnClick=@this.OnShowUploadPackageModal>
                        <MIcon Left>mdi-plus</MIcon>Create
                    </MButton>
                    <PModal @bind-Value=@this.ShowUploadPackageModal
                            Title="Upload Packages" Persistent MaxWidth="600"
                            OnSave="this.OnUploadPackageModalSave"
                            OnCancel="this.OnUploadPackageModalCancel">
                        <ChildContent>
                            <MFileInput TValue="List<IBrowserFile>" @bind-Value=this.PackageFiles
                                                Chips Clearable Color="primary" Multiple Counter=true ShowSize
                                        Label="Select package files (*.nupkg) ...">
                            </MFileInput>
                        </ChildContent>
                    </PModal>
                </AuthorizeView>
            </LeftActions>
            <Filters>
                <MRow>
                    <MCol Cols="12">
                        <MTextField Label="Keyword" @bind-Value="@this.Keyword"
                                    Color="primary" HideDetails=@("auto")
                                        Clearable Filled Rounded Dense>
                        </MTextField>
                    </MCol>
                </MRow>
            </Filters>
        </PPageHeader>
    </MCardText>
</MCard>

<MContainer Fluid Class="mt-6 pa-0">
    <MRow Dense>
        @if (this.LoadingPackages)
        {
            <MProgressLinear Indeterminate Color="primary" Rounded></MProgressLinear>
        }
        else
        {
            @foreach (var package in this.SearchResponse?.Data?.Reverse() ?? Enumerable.Empty<SearchResult>())
            {
                <MCol Class="pa-0" key="@package.PackageId" Cols=12>
                    <MCard Flat Rounded=@("xl") Class="my-2">
                        <MCardTitle>
                            <MRow>
                                <MCol Cols=@("auto")><span class="font-weight-black h6 text-no-wrap text-truncate">@package.PackageId</span></MCol>
                                <MCol><span class="subtitle-1 text-truncate text--disabled">@string.Join(", ", package.Authors??Enumerable.Empty<string>())</span></MCol>
                                <MCol Cols=@("auto")>
                                    <MChip Color="primary" Outlined TextColor="white">@package.Version</MChip>
                                </MCol>
                            </MRow>
                        </MCardTitle>
                        <MCardSubtitle>
                            <AuthorizeView Policy=@IdentityContract.AstraAPIDeletePolicyName>
                                <Authorized>
                                    @foreach (var version in package.Versions ?? Enumerable.Empty<SearchResultVersion>())
                                    {
                                        <MChip @key=@($"{package.PackageId}_{@version.Version}") Class="ma-1" Color=@(version.Listed?"primary":"secondary") TextColor="white" Outlined Small Close
                                               CloseIcon=@(version.Listed?"mdi-delete":"mdi-check-circle")
                                               OnCloseClick="()=>version.Listed?this.OnDeletePackageVersion(package, version):this.OnRelistPackageVersion(package, version)">
                                            @version.Version
                                        </MChip>
                                    }
                                </Authorized>
                                <NotAuthorized>
                                    @foreach (var version in package.Versions?.Select(version => version.Version) ?? Enumerable.Empty<string>())
                                    {
                                        <MChip Class="ma-1" Color="primary" TextColor="white" Outlined Small>@version</MChip>
                                    }
                                </NotAuthorized>
                            </AuthorizeView>
                        </MCardSubtitle>
                        <MCardText>
                            @package.Description
                            <MExpansionPanels Flat>
                            <MExpansionPanel>
                                <MExpansionPanelHeader Class="pa-0">Learn more</MExpansionPanelHeader>
                                <MExpansionPanelContent>
                                    <MRow>
                                        @if (package.Tags?.Any() ?? false)
                                            {
                                                <MCol Cols=12 Class="pa-1">
                                                    @foreach (var tag in package.Tags)
                                                    {
                                                        <MChip Class="ma-1" Label Color="secondary" XSmall>@tag</MChip>
                                                    }
                                                </MCol>
                                            }
                                            <MCol Cols=12 Class="pa-1"><span class="text-no-wrap text-truncate">@nameof(@package.IconUrl): @package.IconUrl</span></MCol>
                                            <MCol Cols=12 Class="pa-1"><span class="text-no-wrap text-truncate">@nameof(@package.LicenseUrl): @package.LicenseUrl</span></MCol>
                                            <MCol Cols=12 Class="pa-1"><span class="text-no-wrap text-truncate">@nameof(@package.ProjectUrl): @package.ProjectUrl</span></MCol>
                                            <MCol Cols=12 Class="pa-1"><span class="text-no-wrap text-truncate">@nameof(@package.RegistrationIndexUrl): @package.RegistrationIndexUrl</span></MCol>
                                        </MRow>
                                    </MExpansionPanelContent>
                                </MExpansionPanel>
                            </MExpansionPanels>
                        </MCardText>
                    </MCard>
                </MCol>
            }
        }
    </MRow>
</MContainer>

@code {
    protected bool LoadingPackages { get; set; }
    protected string? Keyword { get; set; }
    protected string? LocalSearchKeyword { get; set; }
    protected bool ShowUploadPackageModal { get; set; } = false;
    protected SearchResponse? SearchResponse { get; set; } = default!;
    protected List<IBrowserFile> PackageFiles { get; set; } = default!;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        await this.LoadPackages();
    }

    protected async Task LoadPackages()
    {
        try
        {
            this.LoadingPackages = true;
            this.SearchResponse = await this.astraNuGetPackageClient.SearchAsync(this.Keyword);
        }
        catch (Exception ex)
        {
            await this.popupService.EnqueueSnackbarAsync(ex);
        }
        finally
        {
            this.LoadingPackages = false;
        }
    }

    protected async Task OnShowUploadPackageModal()
    {
        this.ShowUploadPackageModal = true;
        await Task.CompletedTask;
    }

    protected async Task OnDeletePackageVersion(SearchResult package, SearchResultVersion version)
    {
        try
        {
            var confirmed = await this.popupService.ConfirmAsync("Confirm", $"Are you sure to delete package: {package.PackageId}, version: {version} ?", AlertTypes.Warning);
            if (!confirmed) return;

            var response = await this.astraNuGetPackageClient.DeleteAsync(
                this.nuGetServerOptions.Value.ApiKey, package.PackageId, version.Version);
            response.EnsureSuccessStatusCode();
            version.Listed = false;
            await this.popupService.EnqueueSnackbarAsync($"Package {package.PackageId} version {version} deleted.", AlertTypes.Success);
        }
        catch (Exception ex)
        {
            await this.popupService.EnqueueSnackbarAsync(ex);
        }
    }

    protected async Task OnRelistPackageVersion(SearchResult package, SearchResultVersion version)
    {
        try
        {
            var confirmed = await this.popupService.ConfirmAsync("Confirm", $"Are you sure to relist package: {package.PackageId}, version: {version} ?", AlertTypes.Warning);
            if (!confirmed) return;

            var response = await this.astraNuGetPackageClient.RelistAsync(
                this.nuGetServerOptions.Value.ApiKey, package.PackageId, version.Version);
            response.EnsureSuccessStatusCode();
            version.Listed = true;
            await this.popupService.EnqueueSnackbarAsync($"Package {package.PackageId} version {version} relisted.", AlertTypes.Success);
        }
        catch (Exception ex)
        {
            await this.popupService.EnqueueSnackbarAsync(ex);
        }
    }

    protected async Task OnUploadPackageModalSave()
    {
        var successed = new List<string>();
        var failedExceptions = new Dictionary<string, Exception>();
        foreach (var packageFile in this.PackageFiles)
        {
            try
            {
                var stream = packageFile.OpenReadStream();
                var response = await this.astraNuGetPackageClient.PublishAsync(
                    this.nuGetServerOptions.Value.ApiKey, stream);
                response.EnsureSuccessStatusCode();
                successed.Add(packageFile.Name);
            }
            catch (Exception ex)
            {
                failedExceptions.Add(packageFile.Name, ex);
            }
        }
        this.ShowUploadPackageModal = false;
        this.PackageFiles = default;
        await this.popupService.EnqueueSnackbarAsync(
            $"Upload {successed.Count} packages successfully: {string.Join(", ", successed)}; {failedExceptions.Count} packages failed: {string.Join(", ", failedExceptions.Select(failed => $"{failed.Key}: {failed.Value?.Message}"))}",
            !failedExceptions.Any() ? AlertTypes.Success : !successed.Any() ? AlertTypes.Error : AlertTypes.Warning);

        await this.LoadPackages();
    }

    protected async Task OnUploadPackageModalCancel()
    {
        this.ShowUploadPackageModal = false;
        this.PackageFiles = default;
        await Task.CompletedTask;
    }
}
