@inject ILogger<AvatarComponent> logger
@inject AphroditeAuthenticationTokenStore tokenStore
@inject NavigationManager navigationManager

<AuthorizeView>
    <NotAuthorized>
        <MTooltip Bottom Left>
            <ActivatorContent Context="tooltipContext">
                <MIcon Size="36" Color="primary" @attributes="@tooltipContext.Attrs" @onclick="OnLogin">mdi-account-circle</MIcon>
            </ActivatorContent>
            <ChildContent>
                <span>Login</span>
            </ChildContent>
        </MTooltip>
    </NotAuthorized>
    <Authorized>
        <MMenu OpenOnHover Bottom Left OffsetY Rounded="@("xl")">
            <ActivatorContent Context="menuContext">
                <MButton Width="36" Height="36" Icon @attributes="@menuContext.Attrs">
                    <MAvatar Size="36" Color="primary">
                        <MImage Src="/img/Avatar.png"></MImage>
                    </MAvatar>
                </MButton>
            </ActivatorContent>
            <ChildContent>
                <MCard>
                    <MList>
                        <MListItem>
                            <MListItemAvatar>
                                <MImage Src="/img/Avatar.png"></MImage>
                            </MListItemAvatar>
                            <MListItemContent>
                                <MListItemTitle>
                                    @(context.User.Identity?.Name ?? "[Unknown]")
                                </MListItemTitle>
                                <MListItemSubtitle>
                                    @(context.User.Identity?.AuthenticationType ?? "[Unknown]")
                                </MListItemSubtitle>
                            </MListItemContent>
                            <MListItemAction>
                                <MIcon Color="red">mdi-heart</MIcon>
                            </MListItemAction>
                        </MListItem>
                    </MList>

                    <MDivider></MDivider>

                    <MList Dense>
                        <MListItem Link OnClick="OnProfile">
                            <MListItemIcon>
                                <MIcon>mdi-account-box</MIcon>
                            </MListItemIcon>
                            <MListItemTitle>Profile</MListItemTitle>
                        </MListItem>
                        <MListItem Link OnClick="OnSettings">
                            <MListItemIcon>
                                <MIcon>mdi-cog</MIcon>
                            </MListItemIcon>
                            <MListItemTitle>Settings</MListItemTitle>
                        </MListItem>
                        <MListItem Link OnClick="OnLogout">
                            <MListItemIcon>
                                <MIcon>mdi-logout</MIcon>
                            </MListItemIcon>
                            <MListItemTitle>Logout</MListItemTitle>
                        </MListItem>
                    </MList>
                </MCard>
            </ChildContent>
        </MMenu>
    </Authorized>
</AuthorizeView>

@code {
    private void OnLogin()
    {
        this.navigationManager.NavigateTo(RouterContract.LoginUri);
    }

    private void OnProfile()
    {
        this.navigationManager.NavigateTo(RouterContract.ProfileUri);
    }

    private void OnSettings()
    {
        this.navigationManager.NavigateTo(RouterContract.SettingsUri);
    }

    private async Task OnLogout()
    {
        await this.tokenStore.UpdateTokenAsync(string.Empty);
        this.navigationManager.NavigateTo(RouterContract.DefaultUri);
    }
}
