@page "/account/profile"
@attribute [Authorize()]
@inherits AphroditePageBase
@inject ILogger<ProfilePage> logger
@inject ThemisUserTokenClient themisUserTokenClient

<PageTitle>Profile</PageTitle>

<AuthorizeView>
    <Authorized>
        @if (!string.IsNullOrEmpty(Message))
        {
            <MAlert Border="Borders.Bottom" Type="AlertTypes.Error" Shaped>@Message</MAlert>
        }
        <MRow>
            <MCol>
                <MCard Flat Rounded="@("xl")" Loading=CardLoading>
                    <MCardText>
                        <MRow>
                            <MCol Class="text-center">
                                <MAvatar Size="64" Class="mb-3">
                                    <MImage Src="/img/Avatar.png"></MImage>
                                </MAvatar>
                                <p class="text-h5">@(this.UserInformation?.UserName ?? "-")</p>
                            </MCol>
                            <MDivider Vertical />
                            <MCol>
                                <MList TwoLine>
                                    <MListItem>
                                        <MListItemIcon>
                                            <MIcon Color="primary">mdi-phone</MIcon>
                                        </MListItemIcon>
                                        <MListItemContent>
                                            <MListItemTitle>@(this.UserInformation?.PhoneNumber ?? "-")</MListItemTitle>
                                                <MListItemSubtitle>Phone</MListItemSubtitle>
                                            </MListItemContent>
                                        </MListItem>
                                        <MDivider Inset></MDivider>
                                    <MListItem>
                                        <MListItemIcon>
                                            <MIcon Color="primary">mdi-email</MIcon>
                                        </MListItemIcon>
                                        <MListItemContent>
                                            <MListItemTitle>@(this.UserInformation?.Email ?? "-")</MListItemTitle>
                                            <MListItemSubtitle>Email</MListItemSubtitle>
                                        </MListItemContent>
                                    </MListItem>
                                </MList>
                            </MCol>
                        </MRow>
                    </MCardText>
                </MCard>
            </MCol>
            <MSpacer></MSpacer>
            <MCol></MCol>
        </MRow>
    </Authorized>
</AuthorizeView>

@code {
    protected string Message { get; set; }
    private StringBoolean CardLoading { get; set; }
    protected UserInformationResponse? UserInformation { get; set; }

    protected override async Task OnInitializedAsync()
    {
        this.logger.LogInformation($"Getting user information...");
        this.CardLoading = true;
        try
        {
            this.UserInformation = await this.themisUserTokenClient.GetCurrentUserAsync();
            if (this.UserInformation is null)
            {
                this.logger.LogWarning($"Get null user information.");
                this.Message = "Can not get current user information.";
            }
            else
            {
                this.logger.LogInformation($"Get user information [{this.UserInformation.UserName}] successfully.");
            }
        }
        catch (Exception ex)
        {
            this.logger.LogError(ex, $"Get user information failed.");
            this.Message = ex.Message;
        }
        finally
        {
            this.CardLoading = false;
        }

        await base.OnInitializedAsync();
    }
}
